/* ============================================================
  Reset/Base CSS
============================================================ */

/*removes underscore when hovering over svg img*/
a:link {
	text-decoration: none;
}
h2 {
	margin: 0;
}
/* ============================================================
  Global Rules
============================================================ */
body {
	background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #707070;

    /*for sticky footer*/
    min-height: 100vh;
    position: relative;
    padding-bottom: 220px;
}
h2 {
	font-size: 22px;
}
form {
	text-align: center;
	max-width: 367px;
	margin: 0 auto;
}
input, textarea {
	width: 100%;
	height: 52px;
	padding-left: 24px;
	border-radius: 7px;
	border: 0.5px solid #bac7cf;
	margin-bottom: 28px;
}
textarea {
	height: 100px;
	padding-top: 10px;
	padding-right: 15px;
}
input::placeholder {
	opacity: .3;
}
.button {
	height: 35px;
	padding: 0px;
	color: #fff;
	border: none;
	background-color: #35A6E8;
	width: auto;
	padding-left: 16px;
	padding-right: 16px;
}
.message {
	text-align: center;
	max-width: 367px;
	margin: 60px auto;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 2.5px solid #35A6E8;
	border-radius: 7px;
	color: #35A6E8;
	font-weight: 600;
}
.message_errors {
	color: #D14545;
	border-color: #D14545;
	font-size: 16px;
}
/* ============================================================
  Layout
============================================================ */
header {
	margin-bottom: 60px;
}
.header_welcome {
	text-align: center;
	padding-top: 108px;
}
#content {

	/*border: 1px solid green;*/
}
footer {
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: ##939997;

	/*border: 1px solid green;*/
}
/*center content vertically*/
.vertical_center {
	display: flex;  /* make row a flex container */
	align-items: center;
	/*height required also*/
}
.no_left_padding {
	padding-left: 0px;
}
.no_right_padding {
	padding-right: 0px;
}
.hide {
	display: none;
}
/* ============================================================
  Component Rules
============================================================ */
.logo {
	margin-bottom: 25px;
	font-weight: 600;

	/*border: 1px solid green;*/
}
#to {
	color: #BA603F;
}
#do {
	color: #852D2D;
}
.side_text {
	padding-left: 24px;
	color: #939997;
	font-size: 16px;
}
.header_row {
	height: 60px;
}
.user_svg, .exit_svg {
	width: 30px;
	height: 30px;
	fill: #707070;
	opacity: .61;
	margin-left: 10px;
}
.add_item_svg {
	margin-top: 8px;
	height: 50px;
	width: 50px;
	padding: 0px;
	opacity: .8;
}
.input_add_item {
	margin-bottom: 70px;
}
.item_txt {
	font-size: 16px;
	color: #263B47;
	word-wrap: break-word;
}
.edit_item_svg {
	opacity: .9;
}
.row_item {
	max-width: 680px;
	margin: 8px auto;
}
.wrapper_user_settings {
	max-width: 367px;
	height: 241px;
	margin: 0 auto;
	border: 0.5px solid #707070;
	border-radius: 7px;
	padding-left: 24px;
	padding-right: 15px;
}
.border_user_settings {
	border-bottom: .5px solid #707070;
	width: 100%;
}
.row_user_settings {
	height: 33%;
}
.description_txt {
	font-size: 12px;
	color: #263B47;
	text-transform: uppercase;
	margin-top: 5px;
}
.description_txt_small {
	text-transform: none;
	margin-top: 0px;
}
.user_settings_txt {
	padding-top: 2px;
	font-size: 18px;
	color: #27473C;
}
.arrow_right {
	margin-left: 10px;
}
.wrapper_delete_user {
	max-width: 367px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 0.5px solid #BAC7CF;
	padding-bottom: 13px;
	margin-bottom: 55px;
}
.side_text_delete_user {
	padding: 0px;
	max-width: 367px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 55px;
}
.side_text_delete_user_v2 {
	padding: 0px;
}
.button_delete {
	background-color: #D14545;
}
/* ============================================================
  END Component Rules
============================================================ */
